<% include ../partials/header %>
<div class="container bg-warning register-form">
    <h1 class="h1-form"><i class="ion-paper-airplane"></i>  Contact Us</h1>

    <div class="panel panel-default">
        <div class="panel-body bg-warning">
        
            <form action="/contact/send" method="post">
                
                <div class="col-xs-12">
                    <div class="input-group form-group">
                        <span class="input-group-addon"><span class="ion-icon-gr ion-person"></span></span>
                        <input class="form-control contact-input" type="text" name="name" placeholder="Fullname" required autofocus />
                    </div>
                </div>
                
               <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-group form-group">
                            <span class="input-group-addon"><span class="ion-icon-gr ion-email"></span></span>
                            <input class="form-control" type="email" name="email" placeholder="Email" required/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="ion-icon-gr ion-android-call"></span></span>
                            <input class="form-control contact-input" name="phone" placeholder="Phone Number" type="text" />
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="label-center" for="bio">Messsage</label>
                    <textarea class="form-control form-group" name="message" rows="5" cols="10" style="resize: vertical;" placeholder="Enter your message here.." required data-error="Please, leave us a message."></textarea>
                </div>
            
                <!--<div>-->
                <!--    <div id="captcha" class="g-recaptcha" data-sitekey="6LfIu0EUAAAAAN-CoT0y4_UfU2D5W1Et4j-axuKq"></div>-->
                <!--</div>-->
                
                <div class="form-group">
                    <button class="btn btn-primary btn-block"> Send Email!</button>
                </div>
                
                <a href="/campgrounds">Go Back</a>
            
            </form>
         </div>
    </div>
</div>

<% include ../partials/footer %>