<% include ./partials/header %>
<div class="container login-form bg-warning">
    <h1 class="h1-form"><i class="ion-flag"></i>  Login</h1>
    
    <div class="panel panel-default">
        <div class="panel-body bg-warning">

            <form action="/login" method="post">
         
            	<div class="input-group form-group">
    				<span class="input-group-addon"><span class="ion-icon-gr ion-person"></span></span>
    				<input type="text" class="form-control" name="username" placeholder="Username" autofocus>
    			</div>

                <div class="input-group form-group">
    				<span class="input-group-addon"><span class="ion-icon-gr ion-lock-combination"></span></span>
    				<input type="password" class="form-control" name="password" placeholder="Password">
                   
    			</div>
                
             
                <button class="btn btn-primary btn-block mb-15" type="submit"><i class="ion-icon ion-log-in text-center"></i>  Login</button>

                
            
            </form>
            <a href="/forgot">Forgot my password</a><br/>
            <a href="/campgrounds">Go Back</a>
            
        </div>
    </div>
</div>
<% include ./partials/footer %>