<% include ./partials/header %>
<div class="container login-form">
    <h1 style="text-align: center"><i class="ion-flag text-primary"></i>  Login</h1>
    <div class="panel panel-default">
        <div class="panel-body">

            <form action="/login" method="post">
         
            	<div class="input-group login-userinput">
    				<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
    				<input type="text" class="form-control" name="username" placeholder="Username" autofocus>
    			</div>
    			
                
                <div class="input-group">
    				<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
    					<input type="password" class="form-control" name="password" placeholder="Password">
                    </span>  
    			</div>
                
                <button class="btn btn-primary btn-block login-button" type="submit"><i class="ion-icon ion-log-in"></i>  Login</button>
            
            </form>
            
            <a href="/forgot">Forgot my password</a><br/>
            <a href="/campgrounds">Go Back</a>
            
        </div>
    </div>
</div>
<% include ./partials/footer %>