@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee:400,700');

/*COLORS*/
/*YELLOW: #f8dc38*/
/*GREEN : #3ee181*/
/*DARKER GREEN: 22db6e*/
/*PURPLE: #383df8*/


/*GLOBAL*/

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

html,
body {
    font-family: 'Mukta Mahee', Arial, sans-serif;
    text-rendering: optimizeLegibility;
}


.nav a{
    color: white !important;
    font-size: 1.1em !important;
}

/*BUTTONS*/
/*.btn {*/
/*  border-radius: 15px;*/
/*  outline: none !important;*/
/*  box-shadow: none;*/
/*  transition: background-color .2s, border .2s, color .2s;*/
/*}*/

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .2s;
}

.btn-primary.btn-outline {
    color: #3EE181;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.btn-jumbo {
    color: #000 !important;
    border-color: #000 !important;
    z-index: 20;
}

.btn-jumbo:hover {
    color: #3EE181 !important;
    background-color: #fff !important;
    border-color: #fff !important;
}

.jumbotron {
    overflow: hidden;
}


/* JUMBO ANIMATION*/

.slideshow { 
  /*absolute and not fixed makes the image to not be stuck on scroll*/
  position: absolute;
  width: 100%;
  height: 230px;
  top: 0;
  left: 0;
  /*z-index: -100;*/
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
    z-index: -10;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  /*top: 0;*/
  /*left: 0;*/
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: -10;
  animation: imageAnimation 30s linear infinite; 
}

.slideshow li:nth-child(1) { 
    background-image: linear-gradient(to bottom left, rgba(255, 255, 255, 1), rgba(255, 255, 255, .3)), url(../images/im1-opt.jpg);
}

.slideshow li:nth-child(2) { 
   background-image: linear-gradient(to bottom left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6)), url(http://i.imgur.com/TVGe0Ef.jpg);
    animation-delay: 10s; 
}

.slideshow li:nth-child(3) { 
  background-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.4)), url(https://images.unsplash.com/photo-1503507026622-bd90164039ef?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5a086b116f39188ccaee99f245d9456b&auto=format&fit=crop&w=1351&q=80);
  animation-delay: 20s; 
}


@keyframes imageAnimation { 
    0% { 
        opacity: 0; 
        animation-timing-function: ease-in;
    }
    5% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}


 h1, h2, h3, p{
  margin: 0px;
 }

.head-container{
  width:90%;
}



.vertical-center .row {
  align-items: center;
  display: flex;
}

.jumbotron {
    /*background-image: linear-gradient(rgba(255, 255, 255, .9), rgba(62, 225, 129, .3)), url(https://images.unsplash.com/photo-1414016642750-7fdd78dc33d9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8998dc495eb8297e462e31d15857bd72&auto=format&fit=crop&w=1349&q=80);*/
    background-color: transparent;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.background {
    z-index: 0;
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}

 

a:hover {
    color: #171df7;
    text-decoration: none;
}



.icon-link:hover .ion-icon {
    color: #F8DC38;
}

.navbar .navbar-collapse {
  text-align: center;
}



/*CENTER SEARCH FORM PLACEHOLDER*/
.search-text::-webkit-input-placeholder {
   text-align: center;
}

.search-text::-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

.search-text::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

.search-text::-ms-input-placeholder {  
   text-align: center; 
}



.jumbo-btn {
    margin-top: 10px;
}

.h3-jumbo {
    display: inline;
    margin-left: 40px;
}



/* FORMS STYLE*/
.new-camp-form {
    width: 780px;
    margin: 100px auto;
}


@media (max-width: 1200px) {
    .jumbo-btn {
        margin-top: 15px;
    }
}



/*COLLAPSE EARLIER*/
@media (max-width: 993px) {
        .navbar-header {
                float: none;
        }
        .navbar-toggle {
                display: block;
        }
        .navbar-collapse {
                border-top: 1px solid transparent;
                box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-collapse.collapse {
                display: none!important;
        }
        .navbar-collapse.collapse.in {
            display: block!important;
        }
        .navbar-nav {
                float: none!important;
                margin: 7.5px 0;
                /*margin: 7.5px -15px;*/
        }
        .navbar-nav>li {
                float: none;
        }
        .navbar-nav>li>a {
                padding-top: 10px;
                padding-bottom: 10px;
        }
        .navbar-form {
            padding: 10px 15px;
            margin-top: 8px;
            /*margin-right: -15px;*/
            margin-bottom: 8px;
            /*margin-left: -15px;*/
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
            width:auto;
            float:none!important;
        }
        .search-btn{
            display:none;
        }
        .new-camp-form {
            width: 390px;
        }
        .h3-jumbo {
            display: block;
            margin-left: 0;
        }
        .jumbotron h1 {
            display: inline-block !important;
        }
}

.jumbotron h3 {
    /*-webkit-text-stroke: 1px rgba(255, 255, 255, .8);*/
}

.navbar-default .navbar-nav>.active>a {
    background: none;
}

.nav>li>a:focus, .nav>li>a:hover {
        text-decoration: none;
        background-color: transparent !important;
}


.navbar {
    border: none;
    border-radius: 0;
}

.navbar-brand,
.search-form {
    transform: translateY(2px);
}

.search-text:focus ~ .search-btn {
    opacity: 1;
}

.search-btn {
    opacity: 0;
    transform: translateY(-5px);
}


/*MY CARD*/

.thumbnail {
  /*height: 20em;*/
  border: 1px solid rgba(0, 0, 0, .3);
  background: white;
  border-radius: 0 0 2px 2px;
  box-shadow:  0 1px 2px 0 rgba(62, 225, 129, 1), 0 0 1px -2px rgba(62, 225, 129, 1);
}

.my-card:first-child {
    /*margin-left: 20px;*/
}

.my-card {
    width: 18em;
    height: 29em;
    margin: 0 auto;
    margin-bottom: 15px;
}

.card-image {
    height: 60%;
}

.my-card img{
  transition: all 0.4s ease-in;
  transform: scale3d(1, 1, 1);
}

.my-card:hover img{
    transform: scale3d(1.2, 1.2, 1);
}

.card-image img {
    width: 100%;
}

.thumbnail .caption {
    padding: 9px;
    text-align: center;
}

.delete-form {
    display: inline;
}


/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}


/* ICONS*/

.ion-icon {
    font-size: 20px;
}

.ion-icon-gr {
    font-size: 20px;
    color: #3ee181;
}

.mb-15 {
    margin-bottom: 15px;
}

/*LOGIN, SIGN UP, CONTACT FORMS*/

.h1-form{
 text-align: center;
 color: #3EE181;
 padding-top: 20px;
}

.login-form{
    width:390px;
    margin-top: 60px;
}

.form-control { margin-bottom: 10px; }

.register-form{
    width:666px;
    margin: 60px auto;
}

@media (max-width: 380px){
    .login-form {
        width: 100%;
        margin: auto 0;
    }
} 


@media (max-width: 767px) { 
    .register-form {
        width: 100%;
        margin: 0;
    }
    .jumbotron {
      min-width: 300px;
      text-align: center;
    }
    .h3-jumbo{
     font-size: 1.2em;
    }
    .g-recaptcha {
        transform: translateX(-60px);
    }
    
}

#datepicker{ margin: 0 20px 20px 20px;}
#datepicker > span:hover{cursor: pointer;}

.label-center {
    display: block;
    text-align: center;
}

#captcha{
    width: 50%;
    margin: 20px auto;
}


/* FOOTER */

.footer-nav {
    list-style: none;
}


.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
    
}


.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #333;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #fff;
    
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover{
    color: #3b5998;
}

.ion-social-twitter:hover{
    color: #00aced;
}

.ion-social-googleplus:hover{
    color: #dd4b39;
}

.ion-social-instagram:hover{
    color: #517fa4;
}