@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee:400,700');

/*COLORS*/
/*DARK BLUE: #428bca*/
/*GREEN #3EE181*/
/*EARTLY YELLOW #8D9561*/
/*PURPLE: #8F3EE1*/
/*RED: #D73B3C*/

/*YELLOW: #F8DC38*/
/*GREEN : #3EE181*/
/* DARKER GREEN: 22db6e*/
/*PURPLE: #383DF8*/


/*GLOBAL*/

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}



html,
body {
    font-family: 'Mukta Mahee', Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

.nav a{
    color: white !important;
    font-size: 1.1em !important;
}

/*BUTTONS*/
/*.btn {*/
/*  border-radius: 15px;*/
/*  outline: none !important;*/
/*  box-shadow: none;*/
/*  transition: background-color .2s, border .2s, color .2s;*/
/*}*/

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .2s;
}

.btn-primary.btn-outline {
    color: #3EE181;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.btn-jumbo {
    color: #000 !important;
    border-color: #000 !important;
    z-index: 20;
}

.btn-jumbo:hover {
    color: #3EE181 !important;
    background-color: #fff !important;
    border-color: #fff !important;
}

.jumbotron {
    overflow: hidden;
    /*padding-top: 0;*/
}

.jumbotron h1,
.jumbotron h3 {
    color: black;
    /*z-index: 100;*/
}


.slideshow { 
  /*absolute and not fixes makes the image to not be stuck on scroll*/
  position: absolute;
  width: 100%;
  height: 230px;
  top: 0;
  left: 0;
  /*z-index: -100;*/
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
    z-index: -10;
}

.navbar > li > a {
    z-index: 10;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  /*top: 0;*/
  /*left: 0;*/
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: -10;
  animation: imageAnimation 20s linear infinite; 
}



.slideshow li:nth-child(1) { 
    background-image: linear-gradient(to bottom left, rgba(248, 220, 56, .4), rgba(248, 220, 56, 0)), url(https://images.unsplash.com/photo-1496545672447-f699b503d270?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ba3fa37b995a705a01d022cada13f726&auto=format&fit=crop&w=1351&q=80);
}

.slideshow li:nth-child(2) { 
   background-image: linear-gradient(to bottom left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6)), url(http://i.imgur.com/TVGe0Ef.jpg);
    animation-delay: 10s; 
}

/*.slideshow li:nth-child(3) { */
/*  background-image: radial-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.4)), url(https://images.unsplash.com/photo-1489176876421-3b720db0fb3d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3cd2b037e838f92dbe378723f43a0731&auto=format&fit=crop&w=1350&q=80);*/
/*  animation-delay: 20s; */
/*}*/




@keyframes imageAnimation { 
    0% { 
        opacity: 0; 
        animation-timing-function: ease-in;
    }
    5% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}


 h1, h2, h3, p{
  margin: 0px;
 }

.head-container{
  width:90%;
}



.vertical-center .row {
  align-items: center;
  display: flex;
}

.jumbotron {
    /*background-image: linear-gradient(rgba(255, 255, 255, .9), rgba(62, 225, 129, .3)), url(https://images.unsplash.com/photo-1414016642750-7fdd78dc33d9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8998dc495eb8297e462e31d15857bd72&auto=format&fit=crop&w=1349&q=80);*/
    background-color: transparent;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.background {
    z-index: 0;
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}

 

a:hover {
    color: #171df7;
    text-decoration: none;
}



.icon-link:hover .ion-icon {
    color: #F8DC38;
}

.navbar .navbar-collapse {
  text-align: center;
}

/*CENTER SEARCH FORM PLACEHOLDER*/
.search-text::-webkit-input-placeholder {
   text-align: center;
}

.search-text::-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

.search-text::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

.search-text::-ms-input-placeholder {  
   text-align: center; 
}


.h3-jumbo {
    margin-left: 40px;
}

.jumbo-btn {
    margin-top: 10px;
}


/* FORMS STYLE*/
.h1-form{
 text-align: center;
 color: #3EE181;
 padding-top: 20px;
}

.new-camp-form {
    width: 780px;
    margin: 100px auto;
}

.h3-jumbo {
    display: inline;
}


@media (max-width: 1200px) {
    .jumbo-btn {
        margin-top: 15px;
    }
}



/*COLLAPSE EARLIER*/
@media (max-width: 993px) {
        .navbar-header {
                float: none;
        }
        .navbar-toggle {
                display: block;
        }
        .navbar-collapse {
                border-top: 1px solid transparent;
                box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-collapse.collapse {
                display: none!important;
        }
        .navbar-collapse.collapse.in {
            display: block!important;
        }
        .navbar-nav {
                float: none!important;
                margin: 7.5px 0;
                /*margin: 7.5px -15px;*/
        }
        .navbar-nav>li {
                float: none;
        }
        .navbar-nav>li>a {
                padding-top: 10px;
                padding-bottom: 10px;
        }
        .navbar-form {
            padding: 10px 15px;
            margin-top: 8px;
            /*margin-right: -15px;*/
            margin-bottom: 8px;
            /*margin-left: -15px;*/
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
            width:auto;
            float:none!important;
        }
        .search-btn{
            display:none;
        }
        .new-camp-form {
            width: 390px;
        }
        .h3-jumbo {
            display: block;
            margin-left: 0;
        }
        .jumbotron h1 {
            display: inline-block !important;
        }
}

.jumbotron h3 {
    /*-webkit-text-stroke: 1px rgba(255, 255, 255, .8);*/
}

.navbar-default .navbar-nav>.active>a {
    background: none;
}

.nav>li>a:focus, .nav>li>a:hover {
        text-decoration: none;
        background-color: transparent !important;
}


.navbar {
    border: none;
    border-radius: 0;
}

.navbar-brand,
.search-form {
    transform: translateY(2px);
}

.search-text:focus ~ .search-btn {
    opacity: 1;
}

.search-btn {
    opacity: 0;
    transform: translateY(-5px);
}


/*IMAGE THUMBNAILS*/

.thumbnail {
  /*height: 20em;*/
  border: 1px solid rgba(0, 0, 0, .3);
  background: white;
  border-radius: 0 0 2px 2px;
  box-shadow:  0 1px 2px 0 rgba(62, 225, 129, 1), 0 0 1px -2px rgba(62, 225, 129, 1);
}


.my-card-row {
    /*margin-left: 20px;*/
}

.my-card:first-child {
    /*margin-left: 20px;*/
}

.my-card {
    /*margin-right: 20px;*/
    width: 18em;
    height: 29em;
    margin: 0 auto;
}

.card-image img {
   /*width: 100%;*/
   /*transform: scale(1.4);*/
   /*border: 20px solid transparent;*/
}

.card-image {
    /*height: 10em;*/
    /*width: 100%;*/
    height: 60%;
    /*background: #444;*/
    /*margin: 0 auto;*/
    /*overflow: hidden;*/
    /*background-size: cover;*/
    /*background-position: center center;*/
}

.my-card img{
  transition: all 0.4s ease-in;
  transform: scale3d(1, 1, 1);
}

.my-card:hover img{
    transform: scale3d(1.2, 1.2, 1);
}

.card-image img {
    width: 100%;
}




.thumbnail .caption {
    padding: 9px;
    text-align: center;
}

.delete-form {
    display: inline;
}



/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

.ion-icon {
    font-size: 20px; 
}


/*LOGIN, SIGN UP, CONTACT FORMS*/
.login-userinput{margin-bottom: 10px;}
.login-button{margin:10px auto;}
.login-form{
    width:390px;
    margin: 60px auto;
}


.form-control { margin-bottom: 10px; }

.register-form{width:666px;}

/*@media (max-width: 3px) {*/
    
/*}*/

@media (max-width: 380px){
    .login-form {
        width: 100%;
        margin: auto 0;
    }
} 



@media (max-width: 767px) { 
    .register-form {
        width:390px;
    }
    
    .jumbotron {
      min-width: 300px;
      text-align: center;
    }
    .h3-jumbo{
     font-size: 1.2em;
    }
    .g-recaptcha {
        transform: translateX(-60px);
    }
    
}

#datepicker{width:180px; margin: 0 20px 20px 20px;}
#datepicker > span:hover{cursor: pointer;}

.register-label {
    display: block;
    text-align: center;
}

#captcha{
    width: 50%;
    margin: 20px auto;
}

input.login-input[type="text"]:focus,
input.login-input[type="password"]:focus {   
  border-color: #3EE181;
  box-shadow: 0 0 2px #3EE181;
  outline: 0 none;
}


input.reg-input[type="text"]:focus,
input.reg-input[type="password"]:focus,
input.reg-input[type="email"]:focus{   
  border-color: #F8DC38;
  box-shadow: 0 0 2px #F8DC38;
  outline: 0 none;
}

.reg-text:focus {
    outline: none !important;
    border:1px solid #F8DC38;
    box-shadow: 0 0 2px #F8DC38;
}

input.contact-input[type="text"]:focus,
input.contact-input[type="email"]:focus{   
  border-color: #00C851;
  box-shadow: 0 0 2px #00C851;
  outline: 0 none;
}

.contact-text:focus {
    outline: none !important;
    border:1px solid #00C851;
    box-shadow: 0 0 2px #00C851;
}